@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

/* Nav  */

nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.548);
    font-family: "Lexend", sans-serif;
    color: white;
    font-weight: 600;
    position: absolute;
    overflow-x: hidden;
}

.logo-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-content > h3{
    padding-left: 30px;
    cursor: default;
}

.btns-content{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.btn > a{
    text-decoration: none;
    color: white;
}

/* Main  */

/* Hero Section  */

.hero-section{
    width: 100%;
    height: 100vh;
    background: url(./Images/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.541);
    font-family: "Lexend", sans-serif;
    font-weight: 600;
}

.hero-content > h1{
    font-size: 4rem;
    padding-bottom: 10px;
}

.hero-quote{
    font-size: 30px;
    font-family: "Mynerve", cursive;
}

/* Image section  */

.image-showcase{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Lexend", sans-serif;
}

.image-sc1{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.image-1{
    width: 90%;
    height: 60%;
    border-radius: 15px;
    background: url(./Images/image1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-btn1{
    width: 90%;
    height: 7%;
    background-color: rgb(59, 178, 233);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-btn2{
    width: 90%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-sc2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-2{
    width: 90%;
    height: calc(74% + 40px);
    background-color: black;
    border-radius: 15px;
    background: url(./Images/image2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-sc3{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.image-3{
    width: 90%;
    height: calc(37% + 10px);
    background-color: black;
    border-radius: 15px;
    background: url(./Images/image3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-4{
    width: 90%;
    height: calc(37% + 10px);
    background-color: black;
    border-radius: 15px;
    background: url(./Images/image4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Services Section  */

.services-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services-section > h1{
    width: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Lexend", sans-serif;
    cursor: default;
    background-color: black;
    color: white;
    text-align: center;
}

.services-content{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 60px;
}

.service-container{
    width: 100%;
    /* height: 80%; */
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    gap: 40px;
}

.service-card{
    height: 50vh;
    background-color: rgb(255, 248, 248);
    border-radius: 10px;
    background: url(./Images/serviceimg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* #service_image1{
    background: url(./Images/serviceimg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} */

/* Why you choose Us Section  */

.chooseus-section{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chooseus-content > h1{
    width: max-content;
    height: max-content;
    padding-bottom: 40px;
    font-family: "Lexend", sans-serif;
    cursor: default;
}

.chooseus-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    font-family: "Lexend", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
    color: white;
    
}

/* Client says Section  */

/* .clientsays-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clientsays-section > h1{
    width: max-content;
    height: max-content;
    padding-bottom: 20px;
    font-family: "Lexend", sans-serif;
    cursor: default;
}

.clientsays-content{
    width: 100%;
    height: 80%;
    background-color: black;
} */

/* Footer  */

footer{
    width: 100%;
    height: max-content;
    min-height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend", sans-serif;
    padding-bottom: 30px;
}

.footer-content{
    width: calc(100%/3);
    height: 40vh;
    padding-top: 40px;
    line-height: 40px;
}

.footer-content > p{
    cursor: pointer;
}

.footer-content > h3{
    cursor: default;
}

.footer-logo{
    padding-left: 50px;
}

.address{
    line-height: 25px;
    cursor: default;
}

.copyright{
    width: 100%;
    height: 7vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lexend", sans-serif;
    color: white;
    border-top: 1px solid rgba(70, 69, 69, 0.527);
}

.copyright > p{
    cursor: default;
}


/* Media Quries  */

/* Medium Screens (Tablets & Small Laptops: 768px - 1024px) */
@media screen and (max-width: 1024px) {
    html,body{
        width: 100vw;
        overflow-x: hidden;
    }

    nav{
        width: 100vw;
        font-size: 13px;
    }

    .btn{
        width: max-content;
    }

    .btn >a{
        width: max-content;
        padding-right: 10px;
    }

    .btns-content {
        width: max-content;
    }

    .hero-content > h1 {
        font-size: 2.5rem;
        padding-bottom: 10px;
    }

    .avx {
        font-size: 15px;
        text-align: center;
    }

    .hero-quote {
        font-size: 25px;
    }

    .image-showcase{
        flex-direction: column;
    }

    .image-showcase {
        width: 100%;
        height: 100%;
    }

    .image-sc1 {
        width: 80%;
        height: 100vh;
        font-size: 15px;
    }

    .image-sc2 {
        width: 80%;
        height: 70vh;
    }

    .image-2{
        height: 100%;
    }

    .image-sc3 {
        width: 80%;
        height: 100vh;
    }

    .image-3{
        height: 45%;
    }

    .image-4{
        height: 45%;
    }

    .services-section > h1{
        font-size: 1.3rem;
    }

    .service-card {
        width: 30vw;
        height: 30vh;
        overflow: hidden;
    }

    .services-content{
        padding: 10px;
    }

    .service-container {
        gap: 10px;
        grid-template-columns: 30% 30% 30%;
        padding-bottom: 20px;
    }

    .chooseus-content {
        gap: 10px;
        padding: 20px 15px;
    }

    .chooseus-content > h1{
        font-size: 1.3rem;
        padding-bottom: 20px;
    }

    .chooseus-content > h2{
        font-size: 16px;
        text-align: center;
    }

    .chooseus-content > p{
        font-size: 15px;
        text-align: center;
    }

    footer{
        flex-direction: column;
    }

    .footer-content {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    }

    .address {
        height: max-content;
    }

    .footer-content > h3{
        font-size: 1.2rem;
    }

    .footer-content > p{
        font-size: 15px;
    }

    .footer-logo {
        padding-left: 0px;
        height: max-content;
    }

    .quicklinks > h3{
        font-size: 16px;
        padding-top: 0px;
    }

    .copyright > p{
        font-size: 15px;
    }
}

/* Small Screens (Large Phones: 480px - 767px) */
@media screen and (max-width: 767px) {
    html,body{
        width: 100vw;
    }

    nav{
        font-size: 13px;
    }

    .btn{
        width: max-content;
    }

    .btn >a{
        width: max-content;
        padding-right: 10px;
    }

    .btns-content {
        width: max-content;
    }

    .hero-content > h1 {
        font-size: 2.2rem;
        padding-bottom: 10px;
    }

    .avx {
        font-size: 14px;
        text-align: center;
    }

    .hero-quote {
        font-size: 20px;
    }

    .image-showcase{
        flex-direction: column;
    }

    .image-showcase {
        width: 100%;
        height: 100%;
    }

    .image-sc1 {
        width: 80%;
        height: 100vh;
        font-size: 14px;
    }

    .image-sc2 {
        width: 80%;
        height: 70vh;
    }

    .image-2{
        height: 100%;
    }

    .image-sc3 {
        width: 80%;
        height: 100vh;
    }

    .image-3{
        height: 45%;
    }

    .image-4{
        height: 45%;
    }

    .services-section > h1{
        font-size: 1.2rem;
    }

    .service-card {
        width: 30vw;
        height: 30vh;
        overflow: hidden;
    }

    .services-content{
        padding: 10px;
    }

    .service-container {
        gap: 10px;
        grid-template-columns: 30% 30% 30%;
        padding-bottom: 20px;
    }

    .chooseus-content {
        gap: 10px;
        padding: 20px 15px;
    }

    .chooseus-content > h1{
        font-size: 1.2rem;
        padding-bottom: 20px;
    }

    .chooseus-content > h2{
        font-size: 15px;
        text-align: center;
    }

    .chooseus-content > p{
        font-size: 14px;
        text-align: center;
    }

    footer{
        flex-direction: column;
    }

    .footer-content {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    }

    .address {
        height: max-content;
    }

    .footer-content > h3{
        font-size: 1.2rem;
    }

    .footer-content > p{
        font-size: 14px;
    }

    .footer-logo {
        padding-left: 0px;
        height: max-content;
    }

    .quicklinks > h3{
        font-size: 15px;
        padding-top: 0px;
    }

    .copyright > p{
        font-size: 14px;
    }
}

/* Extra Small Screens (Phones: 320px - 479px) */
@media screen and (max-width: 479px) {
    html,body{
        width: 100vw;
    }

    nav{
        font-size: 10px;
    }

    .btn{
        width: max-content;
    }

    .btn >a{
        width: max-content;
        padding-right: 10px;
    }

    .btns-content {
        width: max-content;
    }

    .hero-content > h1 {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    .avx {
        font-size: 13px;
        text-align: center;
    }

    .hero-quote {
        font-size: 20px;
    }

    .image-showcase{
        flex-direction: column;
    }

    .image-showcase {
        width: 100%;
        height: 100%;
    }

    .image-sc1 {
        width: 80%;
        height: 100vh;
        font-size: 13px;
    }

    .image-sc2 {
        width: 80%;
        height: 70vh;
    }

    .image-2{
        height: 100%;
    }

    .image-sc3 {
        width: 80%;
        height: 90vh;
    }

    .services-section > h1{
        font-size: 1rem;
    }

    .service-card {
        width: 30vw;
        height: 30vh;
        overflow: hidden;
    }

    .services-content{
        padding: 10px;
    }

    .service-container {
        gap: 10px;
        grid-template-columns: 30% 30% 30%;
        padding-bottom: 20px;
    }

    .chooseus-content {
        gap: 10px;
        padding: 20px 15px;
    }

    .chooseus-content > h1{
        font-size: 1rem;
        padding-bottom: 20px;
    }

    .chooseus-content > h2{
        font-size: 14px;
        text-align: center;
    }

    .chooseus-content > p{
        font-size: 13px;
        text-align: center;
    }

    footer{
        flex-direction: column;
    }

    .footer-content {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    }

    .address {
        height: max-content;
    }

    .footer-content > h3{
        font-size: 1rem;
    }

    .footer-content > p{
        font-size: 13px;
    }

    .footer-logo {
        padding-left: 0px;
        height: max-content;
    }

    .quicklinks > h3{
        font-size: 14px;
        padding-top: 0px;
    }

    .copyright > p{
        font-size: 13px;
    }
}